---
import BlogPost from "@/components/molecules/BlogPost.astro";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const allPosts = Object.values(
    import.meta.glob("../posts/*.md", { eager: true }),
  ) as Post[];

  const uniqueTags = [
    ...new Set(allPosts.map((post: Post) => post.frontmatter.tags).flat()),
  ];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post: Post) =>
      post.frontmatter.tags.includes(tag),
    );

    return { params: { tag }, props: { posts: filteredPosts } };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<Layout pageTitle={tag}>
  <p>Posts tagged with {tag}</p>

  <ul>
    {posts.map((post: Post) => <BlogPost post={post} />)}
  </ul>
</Layout>
