---
import NavLink from "../atoms/NavLink.astro";
---

<div class="lg-w-auto m-0 hidden w-full lg:static lg:ml-20 lg:block lg:bg-none">
  <NavLink name="Home" url="/" />
  <NavLink name="About" url="/about/" />
  <NavLink name="Blog" url="/blog/" />
  <NavLink name="Tags" url="/tags/" />
</div>
