---
import { Button } from "../atoms/Button";
import ModeToggle from "../molecules/ModeToggle";
import Navigation from "../molecules/Navigation.astro";
---

<header>
  <nav>
    <div class="flex justify-between">
      <Button>Menu</Button>
      <ModeToggle client:load />
    </div>

    <Navigation />
  </nav>
</header>
